.perfil_conteudo {
    margin: 50px 0;
    text-align: center;
    color: var(--cor-terciaria);
}

.perfil_imagem {
    margin: auto;
    width: 96px;
    height: 96px;
    background-image: url(../assets/gpLinkLogo.png);
    background-size: cover;
    border-radius: 50%;
}