:root {
  --cor-bg: #0c192c;
  --cor-secundaria: #acacac;
  --cor-terciaria: #fff;
  --cor-hover: #cfcccc;
}

body {
  margin: 0;
  background-color: var(--cor-bg);
  font-family: "bebas neue", sans-serif;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}
